<div class="modal modal-item customer-sign-in">
  <div class="modal-content modal-lg customer-sign-in1">
    <div class="modal-header">
      <span class="close x-mark">&times;</span>
    </div>
    <div class="modal-body customer-sign-in2">
      <div class="row row-padding">
        <h1 class="stylish-heading h2style"><%= t "devise.sign_in2" %></h1>
        <center>
          <div class="sign-in-welcome">
            <span class="sign-in-welcome welcome"><%= t "devise.welcome" %></span>
            <span class="sign-in-welcome brand rainbow"><%= t "brand" %></span>
          </div>
        </center>
        <br>
        <% if customer_devise_mapping.omniauthable? %>
        <% customer_omniauth_providers.each do |provider| %>
          <% if omniauth_utils.camelize(provider) == "GoogleOauth2" %>
            <center><%= link_to t("devise.sign_in_with_gg"),
              omniauth_authorize_path(:customer, provider),
              class: "login-btn login-btn--google white-text" %></center><br />
          <% else %>
            <%= link_to t("devise.sign_in_with", provider: omniauth_utils.camelize(provider)),
              omniauth_authorize_path(:customer, provider),
              class: "form-label" %><br />
          <% end %>
        <% end %>
      <% end %>
      <div class="line-separator"></div>
      <br>
      <div class="form-label open-sign-in-staff">
        <center><%= t "devise.sign_in_as_staff" %></center>
      </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
